{% load static%}
<!DOCTYPE html>
<!-- chat/templates/chat/room.html -->
<html>
<head>
    <meta charset="utf-8"/>  <title>Chat Room</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="{% static 'css/chat.css'%}">
    <!-- <link rel="stylesheet" href="{% static 'js/room.js'%}"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body onload="init()">
    {% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<link rel="stylesheet" href="{% static 'css/chat.css'%}">
		<!-- <link rel="stylesheet" href="{% static 'js/room.js'%}"> -->
        <style>
            .bottom{
                text-align: bottom;
            }
        </style>
    </head>
	<body>

		<div class="container-fluid h-100">
            <!-- <div class="dropdown">
                <button class="dropbtn" id = "">Notification {{ unread_num }}</button>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                  {% if notifications %}
                  {% for notification in  notifications %}
                    {% if notification.noti_type == 1 %}
                    {% if notification.unread %}
                    <p><a href="{% url 'read_noti' noti_id=notification.id %}"><b>New message from {{ notification.sender }}</b></a></p>
                    {% else %}
                    <p><a href="{% url 'read_noti' noti_id=notification.id %}">New message from {{ notification.sender }}</a></p>  
                    {% endif %}

                    {% elif notification.noti_type == 2 %}
                    {% if notification.unread %}
                    <p><a href="{% url 'read_noti' noti_id=notification.id %}"><b>New friend request from {{ notification.sender }}</b></a></p>
                    {% else %}
                    <p><a href="{% url 'read_noti' noti_id=notification.id %}">New friend request from {{ notification.sender }}</a></p>  
                    {% endif %}

                    {% elif notification.noti_type == 3 %}
                    {% if notification.unread %}
                    <p><a href="{% url 'read_noti' noti_id=notification.id %}"><b>request accepted by {{ notification.sender }}</b></a></p>
                    {% else %}
                    <p><a href="{% url 'read_noti' noti_id=notification.id %}"> request accepted by {{ notification.sender }}</a></p>  
                    {% endif %}
                    
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                </div>
              </div> -->
			<div class="row justify-content-center h-100">
				<div class="col-md-0 h-100 chat mt-4">
					<div class="nav ">
						<ul class="navbar-nav">
							<li class="nav-item">
							<a class="nav-link" href="#"><i class="fas fa-user fa-2x"></i></a>
							</li>
							<li class="nav-item">
							<a class="nav-link" href="{% url 'add_room'%}"><i class="fas fa-users fa-2x"></i></a>
							</li>
							<li class="nav-item">
							<a class="nav-link" href="{% url 'friend'%}"><i class="fas fa-address-book fa-2x"></i></a>
							</li>
							<li class="nav-item">
							    <a class="nav-link" href="#"> <i class="fas fa-user-plus fa-2x"></i></a>
							</li> 
                            <li class="nav-item dropdown">
                                <a class="nav-link dropbtn notification" ><i class="fas fa-bell fa-2x "></i><span id="notibtn" class="badge">{{ unread_num }}</span></a>
                                <div class="dropdown-content">
                                    {% if notifications %}
                                    {% for notification in  notifications %}
                                    {% if notification.noti_type == 1 %}
                                    {% if notification.unread %}
                                    <p><a href="{% url 'read_noti' noti_id=notification.id %}"><b>New message from {{ notification.sender }}</b></a></p>
                                    {% else %}
                                    <p><a href="{% url 'read_noti' noti_id=notification.id %}">New message from {{ notification.sender }}</a></p>  
                                    {% endif %}
                
                                    {% elif notification.noti_type == 2 %}
                                    {% if notification.unread %}
                                    <p><a href="{% url 'read_noti' noti_id=notification.id %}"><b>New friend request from {{ notification.sender }}</b></a></p>
                                    {% else %}
                                    <p><a href="{% url 'read_noti' noti_id=notification.id %}">New friend request from {{ notification.sender }}</a></p>  
                                    {% endif %}
                
                                    {% elif notification.noti_type == 3 %}
                                    {% if notification.unread %}
                                    <p><a href="{% url 'read_noti' noti_id=notification.id %}"><b>request accepted by {{ notification.sender }}</b></a></p>
                                    {% else %}
                                    <p><a href="{% url 'read_noti' noti_id=notification.id %}"> request accepted by {{ notification.sender }}</a></p>  
                                    {% endif %}
                                    
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'logout'%}" class="nav-link bottom"><i class="fas fa-sign-out-alt fa-2x"></i></a>
                            </li>
						</ul>
					</div>
				</div>

                <div class="col-md-3 col-xl-3  margin chat h-100 mt-4">
                    <div class="card  mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
						<div class="input-group">
							<input type="text" placeholder="Search..." name="" class="form-control search">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
							</div>
						</div>
					</div>
					<div class="card-body contacts_body">
						{% if chat_rooms %}
						<ul class="contacts">
							{% for chat_room in chat_rooms %}
							{% if chat_room.id != this_room %}
							<li><a href="{% url 'room' room_id=chat_room.id %}" style="color: white;">{{ chat_room.name }}</a></li>
							{% endif %}
							{% endfor %}
                            <li><a id="test" goto="{{chat_rooms.0.id}}" style="color: white;">{{ chat_rooms.0.name }} TEST</a></li>
						{% endif %}
						</ul>
					</div>
					<div class="card-footer"></div>
				</div></div>
				<div class="col-md-7 col-xl-6 chat h-100 mt-4">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
                                {% if chat_room.id != this_room %}
								<div class="user_info">
									<span>{{ chat_room.name }}</span>
									<!-- <p>1767 Messages</p> -->
								</div>
                                {% endif %}
								<!-- <div class="video_cam">
									<span><i class="fas fa-video"></i></span>
									<span><i class="fas fa-phone"></i></span>
								</div> -->
                                <div class="input-group float-right">
                                    <input type="text" placeholder="Search Conversation" name="" style="height: 50px !important;" class="search search_msg" id="search-input" >
                                    <div class="input-group-prepend">
                                        <button class="input-group-text search_btn" style="height: 50px !important;" onclick= "submitFunction()"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
							</div>
							<!-- <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
							<div class="action_menu">
								<ul>
									<li><i class="fas fa-user-circle"></i> View profile</li>
									<li><i class="fas fa-users"></i> Add to close friends</li>
									<li><i class="fas fa-plus"></i> Add to group</li>
									<li><i class="fas fa-ban"></i> Block</li>
								</ul>
							</div> -->
              
						</div>
						<div class="card-body msg_card_body" >
                            <!------- messages ------->
                            {% for message in messages %}
                            {% if message.sender == user %}
                            <div class="d-flex mb-4 replied">
                                
								<div class="msg_cotainer_send">
                                    <span>
									{{ message.message}}</span>
									<span class="msg_time_send">8:55 AM, Today</span>
								</div>
                                
								<div class="img_cont_msg">
							<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"class="rounded-circle user_img_msg">
								</div>
							</div>
                            {% else %}
                            <div class="d-flex mb-4 received">
								<div class="img_cont_msg">
									<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
								</div>

								<div class="msg_cotainer">
                                <span>
									{{ message.message}}
                                </span>
									<span class="msg_time">8:40 AM, Today</span>
								</div>
							</div>
                            {% endif %}
                            {% endfor %}


                            <!------- messages ------->
						</div>
						<div class="card-footer">
							<form id="send-message-form">
                                <div class="input-group">
                                    <div class="input-group-append">
									    <label class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></label>
                                    </div>
                                    {% csrf_token %}
                                    {{form.media}}
                                    {{form.short_text}}
                                    <div class="input-group-prepend">
                                        <span class="input-group-text emoji">&nbsp;&nbsp;</span>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" id="chat-message-submit" type="submit" value = "Send">
                                            <span class="input-group-text send_btn">
                                                <i class="fas fa-location-arrow"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br/> -->

                                    <!-- <input id="chat-message-submit" type="button" value="Send"/> -->
							    </div>
						    </form>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
    <!-- <div>
        <p>Friendlist</p>
        {% if chat_rooms %}
        <ul>
          {% for chat_room in chat_rooms %}
          {% if chat_room.id != this_room %}
        <li><a href="{% url 'room' room_id=chat_room.id %}">{{ chat_room.name }}</a></li>
        
        {% endif %}
        {% endfor %}
        </ul>
        {% else %}
        <p> No chat room</p>
        {% endif %}
    </div>

    <input id="search-input" type="text" placeholder="Search"/> -->
    <!-- <button onclick= "window.submitFunction()">Submit</button> -->
    <!-- {% csrf_token %}

    
    <form action="{% url 'message_search' room_id=this_room %}" method="post">
        {% csrf_token %}
        <label for="search_input">Your name: </label>
        <input id="search_input" type="text" name="search_input" placeholder="search for messages in this room">
        <input type="submit" value="Search">
    </form> -->
   
    <!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br/> -->
    
    <!-- {% csrf_token %}
    {{form.media}}
    {{form.short_text}}

    <div id="Send">
        <input id="chat-message-submit" type="button" value="Send"/>
    </div>

    <div id="test-file">
<p>This place</p>
    </div> -->
    <!-- <p>{{ user.id|json_script:"user_id" }}</p> -->
</body>

<li><a id="test" goto="119" style="color: white;">{{ chat_rooms.119.name }} TEST</a></li>
						
<script>
    // ---test code start --- \\
    $('#test').click(function(){
        var x=$(this).attr("goto");
        $.ajax({
            url: "{% url 'checkajax'%}",
            headers: {'X-CSRFToken': csrftoken},
            data: {'room_id': x},
            type: "GET",
            dataType: 'json',
            success: function(data){
                
                $('#test').text(data["msg"]);
                $('#test').attr("goto",Number(x)+1+'');
            }
        })
    })
    // ---test code end--- \\
    var fi='';
    function init(){
        // console.log(JSON.parse(document.getElementById('hello-data').textContent));
        // var myVar = document.getElementById("myVar").value;
        // console.log(myVar);
        var attach=document.createElement("input");
        attach.type="file";
        attach.id="filename";
        attach.addEventListener("input",function(){fi=attach.files[0]["name"];});
        var sending=document.getElementsByClassName("input-group-text attach_btn")[0];
        sending.appendChild(attach); 
        var inputdiv = document.getElementsByClassName("dep-container")[0];
        inputdiv.className="input-group-append form-control input_div";
        var inputtext=document.getElementById("id_short_text");
        inputtext.className="form-control type_msg";
        inputtext.placeholder="Type your message...";
        var element = document.getElementsByClassName("d-flex mb-4");
        element[element.length-1].scrollIntoView(false);
    }
    var room_id = {{ room_id }};
    //const user_id = JSON.parse(document.getElementById('user_id').textContent);
    //var roomName = {{ room_name_json }};
    console.log(document.getElementById('id_short_text').value);
    function sendFile(file,message,room_id){
        var reader = new FileReader();
        var rawData = new ArrayBuffer();
        var bytes = new Uint8Array;            
        reader.loadend = function() {
        }
        reader.onload = function(e) {
            rawData = e.target.result;
            bytes = new Uint8Array(rawData);
            chatSocket.send(JSON.stringify({'message':message,'room_id':room_id,'filename':fi,'filetype':file.type,'filebin':bytes}));
            console.log("Sending:" , bytes);
        }
        reader.readAsArrayBuffer(file);
    }
    var chatSocket = new WebSocket(
        'wss://' + window.location.host + '/ws/chat/' + room_id + '/');
    chatSocket.onopen = function(){
        console.log("Connecting...");
        // var prevmes = {{messages}};
        // document.querySelector("#chat-log").value+=prevmes;
    };

    chatSocket.onmessage = function(e) {    
        var data = JSON.parse(e.data); var message = data['message'];
        //console.log(data);
        // document.querySelector('#chat-log').value += (message);
        // var div = document.getElementById('chat-log');
        // div.innerHTML += "<p>" + message  + "<p>";
        
        console.log(data);
        if(message!=''){
        msging(data,0);}
        if (data['location']!=''){
            console.log("there is location");
            if (data['filetype'].includes('image',0)){
                msging(data,1);
            }
            else{
                msging(data,2);
            }

        }
        else{
            
            console.log("there isn't any location");
        }
    };
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    document.querySelector('#id_short_text').focus();
    document.querySelector('#id_short_text').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    var rz=[];
    var cursearch;
    function submitFunction() {
        var searchInput = document.querySelector("#search-input");
        var s=searchInput.value;
        if (s.replaceAll(/\s/g,'')  != "" && document.getElementById("DONE")== null){
        var text_container = document.querySelectorAll('.msg_cotainer_send,.msg_cotainer');
        console.log(text_container.length);
        for (var i = text_container.length-1;i>-1; i--){
            text_container[i].children[0].innerHTML = text_container[i].children[0].innerHTML.replace(
                new RegExp(searchInput.value + '(?!([^<]+)?<)', 'gi'),
                '<b class="match" style="background-color:#ffe5b4;font-size:100%">$&</b>'
            );
        }
    
    rz=document.getElementsByClassName("match");
    cursearch=rz.length-1;
    jump(0);
    duringsearch("^","jump(-1)");
    duringsearch("v","jump(1)");
        }
        
            if(document.getElementById("DONE")== null){
    duringsearch("DONE","reset()");}
        

    
    }
    function duringsearch(sign,functionn){
        var done=document.createElement("button");
        done.className="btn btn-outline-secondary input-group-text";
        done.style="height: 50px !important;";
        done.setAttribute("onclick",functionn);
        done.innerHTML=sign;
        done.id=sign;
        var chathead = document.createElement("div");
        chathead.className="input-group-prepend";
        chathead.appendChild(done);
        var done=document.getElementsByClassName("input-group float-right")[0];
        done.appendChild(chathead);
    }
    function reset(){
        if (rz.length>0){
            location.reload();}
        else{
        var searchInput = document.querySelector("#search-input");
        searchInput.value="";
        document.getElementById("^").remove();
        document.getElementById("v").remove();
        document.getElementById("DONE").remove();
        }

    }
    function jump(direction){
        cursearch+=direction;
        if (cursearch>-1 && cursearch<rz.length){
            if (cursearch-direction>-1 && cursearch<rz.length+direction){
        rz[cursearch-direction].style="background-color:#ffe5b4;"}
        rz[cursearch].scrollIntoView({behavior: "smooth", block: 'nearest', inline: 'nearest' });
        rz[cursearch].style="background-color:#fbb117;"
        }
        else{
            cursearch-=direction;
        }
    }
    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#id_short_text');
        var message = messageInputDom.value;
        if (fi!= ''){
            console.log("File included: ",fi);
            var file = document.getElementById('filename').files[0];
            sendFile(file,message,room_id);
        }
        if(message!=''){
            chatSocket.send(JSON.stringify({'message': message, 'room_id' : room_id}));
        }
        messageInputDom.value = '';
    };
    function msging(data,kind){
        const predef=[["d-flex mb-4 replied", "msg_cotainer_send","msg_time_send"],["d-flex mb-4 received", "msg_cotainer","msg_time"],["img_cont_msg","rounded-circle user_img_msg"]];
        var icon=document.createElement("div");
            icon.className=predef[2][0];
        var immg=document.createElement("img");
            immg.className=predef[2][1];
            immg.src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg";
        icon.appendChild(immg);
        var m=0;
        if (data["usrname"]!=data["rq"]){
            m=1;
        }
        var msg = document.createElement("div");
            msg.className=predef[m][1];
        var msgcontent = document.createElement("span");
            msgcontent.innerText=data["message"];
        msg.appendChild(msgcontent);
        var msgtime = document.createElement("div");
            msgtime.className=predef[m][2];
            msgtime.innerText="8:40 AM, Today";
        msg.appendChild(msgtime);

        var showlink=document.createElement("div");
            showlink.className=predef[m][0];
        if (m==1){
            showlink.appendChild(icon);
            showlink.appendChild(msg);
        }
        else{
            showlink.appendChild(msg); 
            showlink.appendChild(icon);           
        }
            document.getElementsByClassName('card-body msg_card_body')[0].appendChild(showlink);
    }

    function getCookie(name) {
    var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
      }
     return cookieValue;
      }
    var csrftoken = getCookie('csrftoken');
    setInterval(function(){ 
      //console.log("load notification is running");
    $.ajax({
    url: "{% url 'load_noti'%}",
    headers: {'X-CSRFToken': csrftoken},
    data: {'signal': "send success"},
    type: "GET",
    dataType: 'json',
    success: function (data) {
        if (data) {
            var cur_time = new Date(Date.now() - 5000);
            document.getElementById("notibtn").innerHTML =  data["notification"].length;

            //console.log(document.getElementsByClassName("dropbtn").innerHTML);
            var ancestor =document.getElementsByClassName("dropdown-content");
            for(var i = 0; i < data["notification"].length; i++){
                var noti_time = Date.parse(data["notification"][i].time); 
                //console.log(noti_time);
                if(noti_time > cur_time) {
                    //console.log("received"); 
                    var room_url = "{% url 'read_noti' 1234 %}".replace(/1234/, data["notification"][i].id );
                    //console.log(data["senders"][i]);
                    var sender = data["senders"][i];
                    //console.log(sender);
                    p = document.createElement("p");
                    p.innerHTML = "<a href=" + room_url + "><b>" + "New message from " + sender + "</b></a>";
                    ancestor[0].prepend(p);  
                }
            }
        }
      }
    });
  }, 5000);


</script>
</html>