<!DOCTYPE html>
<!-- chat/templates/chat/sf.html -->
<html>
<head>
    <meta charset="utf-8"/>  <title>Test send files</title>
</head>
<body>
    <h2>File Upload</h2>

    Select file

    <input type="file" id="filename" />

    <br>

    <input type="button" value="Upload" onclick="sendFile()" />
    <a id="this">Click here</a>
</body>
<script>
    var test;
    var chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/130/');
    chatSocket.onopen = function(){
        console.log("Connecting...");
    }
    chatSocket.onmessage = function(e) { 
        var bin=new Uint8Array(Object.values(JSON.parse(e.data)["files"]));
        var img=document.getElementById("this");
        img.href=URL.createObjectURL(new Blob([bin.buffer],{type:"image/png"}));
        img.download="name";
    };
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    // document.querySelector('#chat-message-input').focus();
    // document.querySelector('#chat-message-input').onkeyup = function(e) {
    //     if (e.keyCode === 13) {  // enter, return
    //         document.querySelector('#chat-message-submit').click();
    //     }
    // };
    // document.querySelector('#chat-message-submit').onclick = function(e) {
    //     var messageInputDom = document.querySelector('#chat-message-input');
    //     var message = messageInputDom.value;
    //     chatSocket.send(JSON.stringify({'message': message}));
    //     messageInputDom.value = '';
    // };
    function sendFile(){
        var file = document.getElementById('filename').files[0];
        var reader = new FileReader();
        var rawData = new ArrayBuffer();            
        reader.loadend = function() {
        }
        reader.onload = function(e) {
            rawData = e.target.result;
            var bytes = new Uint8Array(rawData);
            console.log(bytes);
            chatSocket.send(JSON.stringify({'message':'','room_id':130,'bytes': bytes,'filename':file["name"]}));
            alert("the File has been transferred.")
        }
        reader.readAsArrayBuffer(file);
}
</script>
</html>