*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 3%;
    border-radius: 5px;
    background-color: #efefef;
    padding: 0 !important;
}

h3{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 10px;
}

.list-content{
    min-height:300px;
}

.list-group{
    list-style: none;
    
}
.list-content .list-group .title{
     background:#00BFA6;
     font-weight:bold;
     color:#FFFFFF;
}
.list-group-item{
    padding: 15px;
}

.list-group-item img {
    height:150px; 
    width: 150px;
       
}
   
.jumbotron .btn {
       padding: 5px 5px !important;
       font-size: 12px !important;
   }
.prj-name {
       color:#5bc0de;    
   }
.break{
       width:100%;
       margin:20px;
   }

.name {
    color:#5bc0de;
    text-align: center;
    padding: 15px;
    font-size: 30px;
}

.name a{
    text-decoration: none;
}

.msg{
    padding: 10px;
    font-size: 15px;
}