<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
          <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            
            {% if online %}
            <p> ONLINE </p>
            {% else %}
            <p> OFFLINE </p>
            {% endif %}

            {% if option%}
            <a href="{% url 'add_friend' friendname=user.username %}">addfriend</a>
            {% endif %}

            {% if friendnames %}
            <ul>
              {% for friendname in friendnames %}
            <li><a href="{% url 'profile' username=friendname %}">{{ friendname }}</a></li>
              {% endfor %}
            </ul>
            {% else %}
            <p> No friends</p>
            {% endif %}
          
          </div>
        </div>
        <!-- FORM HERE -->
      </div>
</body>
</html>